<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
    <div class="container-fluid"> 
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-primary">
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="#">Save Data</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>