<app-nav-bar></app-nav-bar>
<h4>Angular Forms</h4>
<div class="container-fluid background-color:white">
    <div class="row py-5">
        <div class="col-md-5">
        <div style="background-color: white; padding: 20px;margin-top: 50px" class="rounded">
            <h4>Angular Template Driven Forms</h4>
            <form #userForm="ngForm"(ngSubmit)="onSubmit(userForm)">
                <input type="text" name="email" class="form-control" ngModel>
                <br><br>
                <input type="password" name="password" class="form-control" ngModel>
                <br><br>
                <button type="fsubmit" class="btn btn-primary">login</button>
            </form> 
            <p *ngIf=email> Data Entered : {{email}}  </p>
            <p *ngIf=email>  {{password}}  </p>
        </div>
    </div>

<div class="col-md-2"></div>
<div class="col-md-5">
<div style="background-color: white; padding: 20px;margin-top: 50px" class="rounded">
    <h4>Angular Reactive Forms</h4>
    <form [formGroup]="UserLogin" (submit)="onSubmitRec()">
        <input formControlName="Email">
        <span  *ngIf="!UserLogin.controls.Email.valid && (UserLogin.controls.Email.touched)">* Email Required</span>
        <br>
        <br>
        
         <input type="password" formControlName="Pass"> 
         <span  *ngIf="!UserLogin.controls.Pass.valid && (UserLogin.controls.Pass.touched)">* Password Required</span> 
         <br><br> 
         <button type="submit">Submit</button> 
         <p>{{Email}}</p>
         <p>{{Password}}</p>   
    </form>
</div>
</div>
</div>
